<li><a href="{{path('my_posts')}}"><i class="material-icons left">description</i>My Posts</a></li>
<li class="divider"></li>
<li><a href="{{path('post_image_page')}}"><i class="material-icons left">add_a_photo</i>Post an Image</a></li>
<li class="divider"></li>
<li><a href="{{path('post_event_page')}}"><i class="material-icons left">add_location</i>Post an Event</a></li>
<li class="divider"></li>
<li><a href="{{path('incoming_posts')}}"><i class="material-icons left">sync</i>Sync App Posts</a></li>
