    {{ form_start(form) }}

      {{form_widget(form)}}


      <label for="chips">Tags</label>
      <div class="chips chips-autocomplete" name="chips">
      </div>

      <br> <br>

      <!-- <button class="btn" type="button" id="testButton" name="test">Test Input</button> -->

      <button type="submit" name="submit" class="btn">Add</button>

    {{form_end(form)}}
