se<div class="card">
  <div class="card-content">
    <span class="card-title">01/02/2017</span>

      <p class="light">
        <strong>Focus Group to solve the PhD Criss</strong> at <em>Open Lab, 89 Sandyford Road</em>
      </p>

      <p>
        <div class="chip">
            Workshops
        </div>

        <div class="chip">
            phd
        </div>

        <div class="chip">
            charities
        </div>

        <div class="chip">
            some_tag
        </div>
      </p>
  </div>
</div>
