{% extends 'AppBundle:profile:card_compound.html.twig' %}

{% block tags %}
  {% for tag in post.tags %}
  <div class="chip">
    <a class="grey-text text-darken-3" href="{{path('social_profile_tags_search', { 'username': organisation.username, 'tagstring': tag.name } )}}">{{tag.name}}</a>
  </div>
  {% else %}
  <p>
    This post has no tags!
  </p>
  {% endfor %}

{% endblock tags %}
