<div class="card">

  <div class="card-image">
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/HDRI_Sample_Scene_Balls_(JPEG-HDR).jpg"/>

    <span class="card-title">13/10/1991</span>
  </div>

  <!-- <div class="under-image-action-toolbar">

  </div> -->

  <div class="card-content">
    <p class="light grey-text">
      <i class="material-icons">place</i> At <em>Open Lab, 89 Sandyford Road</em>
    </p>
    <p>
      Spent <strong>£99.99</strong> on <em>Juggling lessons to learn how to juggle my phd</em>
    </p>

    <div class="map-container">

      <div class="post-actionbar">
        <a class="btn-floating halfway-fab waves-effect waves-light blue map-reveal"><i class="material-icons">map</i></a>

        <a class="btn-floating halfway-fab waves-effect waves-light red" href="https://upload.wikimedia.org/wikipedia/commons/1/16/HDRI_Sample_Scene_Balls_(JPEG-HDR).jpg" target="_blank"><i class="material-icons">image</i></a>
      </div>

      <div data-latitude="54.98019" data-longitude="-1.609749" id="mock-map" class="hidden-map" style="height: 350px; width: 100%; margin-bottom: 1em;"></div>
    </div>

    <div class="tags-container">
      <div class="chip">
          Workshops
      </div>

      <div class="chip">
          phd
      </div>

      <div class="chip">
          charities
      </div>

      <div class="chip">
          some_tag
      </div>
    </div>


  </div>

</div>
