

    <p class="light">
      Posted {{post.dateCreated | date('d/m/Y')}}
    </p>

    <p>
      Received <strong>£{{post.financialValue}}</strong> for <em>{{post.description}}</em>, from {{post.customer.name}}
    </p>


      {% for tag in post.tags %}
          {% include 'AppBundle:profile:chip_tag.html.twig'  %}
      {% endfor %}
