{% extends 'AppBundle::base.html.twig' %}

{% block title %}Features and Pricing{% endblock title %}


{% block body %}

{% include 'AppBundle:landing:navbar.html.twig' %}

<div class="section green">

  <div class="row">
    <div class="col s12 center">
      <h1 class="grey-text text-lighten-4 light">One price. Free.</h1>
    </div>
  </div>

</div>

<div class="section">

  <div class="row">
    <div class="col s12 m8">

      <h4 class="light">Track money in, track money out</h3>

        <img class="responsive-img" src="http://baconmockup.com/900/300/" alt="MM tasty" />


      </div>
      <div class="col s12 m4 right">
        <p class="left-align light">
          Accounting features to help you log and track spending and invoices:
        </p>

        <ul class="light">
          <li> - Add customers & grant givers to add income</li>
          <li> - Add spends to reconcile receipts</li>
          <li> - Get an overview of your accounts in seconds</li>
        </ul>

      </div>

    </div>

  </div>

  <div class="section grey darken-2">
    <div class="row">

      <div class="col s12 center">
        <h3 class="light grey-text text-lighten-5">Account for work, not just money</h3>

        <p class="light grey-text text-lighten-5">
          Charity work involves a lot more than just spending money and tracking grants. We aim to help everyone see the work you've done
        </p>

      </div>
    </div>

    <div class="row">
      <div class="col s12 m4 center">
        <h4 class="light grey-text text-lighten-5">Add in quality</h4>
        <p class="light grey-text text-lighten-5">
        You can build a rich picture of your work by adding images, maps, and commentary to your accounts. Then, link everything together with an easy-to-use tagging system, allowing everyone to search and view for related items
        </p>
      </div>

      <div class="col s12 m4 center">
        <img class="responsive-img circle" src="http://baconmockup.com/400/300/" alt="" />
      </div>

      <div class="col s12 m4 center">
        <h4 class="light grey-text text-lighten-5">Showcase your work</h4>
        <p class="light grey-text text-lighten-5">
          We provide you with a social media style profile page, and everything you post can be made visible to the world to help others see what you do.
        </p>
      </div>
    </div>


  </div>


{% endblock body %}
